<!DOCTYPE html>
<html lang="en">
<head>
  <title>Broletariat</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/topic.css">
</head>
<body>
  <h1>Topic:</h1>

  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="/broletariat">Broletariat</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/broletariat">Home</a></li>
        <li><a href="/broletariat/users/new">Become a user</a></li>
        <li><a href="/broletariat/topics/new">Make a new topic</a></li>
      </ul>
    </div>
  </div>

  <div class="topic">
    <div class="natty">
      <form action="<%= topic[0].id %>/natty_vote/0/0?_method=PUT" method="POST">
        <input type="image" class="vote-image" src="/static/img/natty.jpg">
        <div class="natty_votes"><%= topic[0].natty_votes %></div>
      </form>
    </div>
    <div class="broseph">
      <form action="<%= topic[0].id%>/broseph_vote/0/0?_method=PUT" method="POST">
        <input type="image" class="vote-image" src="/static/img/broseph_stalin.png">
        <div class="broseph_votes"><%= topic[0].broseph_votes %></div>
      </form>
    </div>
    <div class="trump">
      <form action="<%= topic[0].id%>/trump_vote/0/0?_method=PUT" method="POST">
        <input type="image" class="vote-image" src="/static/img/trump_overcomb.jpg">
        <div class="trump_votes"><%= topic[0].trump_votes %></div>
      </form>
    </div>

    <h2><%= topic[0].topic_text %></h2>
    by <%= topic[0].username %>
  </div>
</br></br>

  <% if (comments) {%>
    <%= comments.length %> comment<% if(comments.length!==1){ %>s <% } %>
  <% } else { %>
    0 Comments
  <% } %>

  <form action="/broletariat/topic/<%= topic[0].id %>/new_comment" method="POST">
    <input type="text" name="username" placeholder="Enter name">
    <input type="text" name="newComment" placeholder="Write a comment!">
    <button>Submit</button>
  </form>

</br></br>

  <div class="comments">
    
    <% comments.forEach(function(comment){ %>
      <div class="comment">
        <div class="natty">
          <form action="<%= topic[0].id %>/natty_vote/0/<%= comment.comment_id %>?_method=PUT" method="POST">
            <input type="image" class="vote-image" src="/static/img/natty.jpg">
            <div class="cnatty_votes"><%= comment.cnatty_votes %></div> 
          </form>
        </div>
        <div class="broseph">
          <form action="<%= topic[0].id%>/broseph_vote/0/<%= comment.comment_id %>?_method=PUT" method="POST">
            <input type="image" class="vote-image" src="/static/img/broseph_stalin.png">
            <div class="cbroseph_votes"><%= comment.cbroseph_votes %></div>
          </form>
        </div>
        <div class="trump">
          <form action="<%= topic[0].id%>/trump_vote/0/<%= comment.comment_id %>?_method=PUT" method="POST">
            <input type="image" class="vote-image" src="/static/img/trump_overcomb.jpg">
            <div class="ctrump_votes"><%= comment.ctrump_votes %></div>
          </form>
        </div>
        <div class="commenter"><%= comment.username %>:</div>
        <div class="comment-text">comment: <%= comment.comment %></div>
      </div>
    <% }); %>
    
  </div> 

</body>
</html>